services:
    nginx:
        image: nginx:alpine
        container_name: nginx
        ports:
            - "8080:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
            - ./nginx/.htpasswd:/etc/nginx/.htpasswd:ro
        depends_on:
            - fastify-app
        networks:
            - app-network

    fastify-app:
        build: .
        expose:
            - "3000"
        depends_on:
            postgres:
                condition: service_healthy
            mongo:
                condition: service_started
        environment:
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_DB: testdb
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            REDIS_HOST: redis
            REDIS_PORT: 6379
            MONGO_URI: mongodb://mongo:27017/testdb
        networks:
            - app-network

    postgres:
        image: postgres:15
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U user -d testdb"]
            interval: 5s
            timeout: 5s
            retries: 5
        container_name: postgres
        restart: always
        environment:
            POSTGRES_DB: testdb
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
        ports:
            - "5432:5432"
        networks:
            - app-network

    mongo:
        image: mongo:7
        container_name: mongo
        restart: always
        ports:
            - "27017:27017"
        networks:
            - app-network

    redis:
        image: redis:latest
        container_name: redis
        ports:
            - "6379:6379"
        networks:
            - app-network
networks:
    app-network:
        driver: bridge
