services:
  app:
    build: .
    container_name: fastify_app
    ports:
      - "3000:3000"
    networks:
      - appnet

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
